* {
box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

header {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

header > a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}


.component {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}


.counter {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  line-height: 100px;
  font-size: 34px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

.controls button {
  padding: 7px 12px;
  cursor: pointer;
  background-color: #6B7A8F;
  color: white;
  border-radius: 5px;
}

.component-select {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

.form-control {
  width: 140px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.courses {
    display: flex;
    margin-bottom: 15px;
}

.course-item-body {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: #e6e6e6;
}
.course-item-title {
    font-weight: 400;
    font-size: 18px;
}
.course-item-value {
    font-size: 32px;
    font-weight: 100;
}